@import "~bootstrap/scss/bootstrap.scss";

body {
    background: darkgray;
}
h1 { color:lightgreen;
    font-family: 'comic sans ms', 'sans serif';
    
}

.card {
    background: lightgreen;
    padding: 5px;
    font-family: 'comic sans ms', 'sans serif';
}
